{% macro top_level_header(branch, latest_version, release_candidate_version) -%}
    {% if docs_header_version %}
        {% set version_name = docs_header_version %}
    {% elif branch in ["develop", "master", "main", "amd-master", "amd-staging"] %}
        {% set version_name = "Future Release" %}
    {% elif branch == "latest" %}
        {% set version_name = latest_version["rocm"] %}
    {% else %}
        {% set version_name = branch.replace('-', ' ').title() %}
    {% endif %}
    <a class="klavika-font hover-opacity" href="{{ projects['rocm'] }}">ROCm&#8482; Core SDK {{ version_name }}</a>
{%- endmacro -%}

{% macro version_list() -%}
    <a class="header-all-versions hover-opacity" href="https://rocm.docs.amd.com/en/latest/release/versions.html">Version List</a>
{%- endmacro -%}

{% if theme_repository_url.endswith("-docs") %}
    {% set repo_url = theme_repository_url|replace("-docs", "") %}
{% else %}
    {% set repo_url = theme_repository_url %}
{% endif %}

{% set repo_url = repo_url|replace("http://", "https://") %}

{%
set nav_item_classes = {
    "ROCm Core SDK": "fw-bold",
}
%}

{%
set nav_secondary_items = {
    "ROCm Core SDK": "https://rocm.docs.amd.com",
    "AI Ecosystem": "https://rocm.docs.amd.com/projects/ai-ecosystem",
    "GPU Systems and Infrastructure": "https://instinct.docs.amd.com",
    "ROCm Toolkits": header_rocm_toolkits,
}
%}

{%
set nav_secondary_items_end = {
    "Blogs": "https://rocm.blogs.amd.com/",
    "ROCm Developer Hub": "https://www.amd.com/en/developer/resources/rocm-hub.html",
    "Infinity Hub": "https://www.amd.com/en/developer/resources/infinity-hub.html",
}
%}
