{% macro top_level_header(branch, latest_version, release_candidate_version) -%}
    {% if branch in ["develop", "master", "main", "amd-master", "amd-staging"] %}
        {% set version_name = "Future Release" %}
    {% elif release_candidate_version in branch %}
        {% set version_name = release_candidate_version %}
    {% elif branch == "latest" %}
        {% set version_name = latest_version %}
    {% else %}
        {% set version_name = branch %}
    {% endif %}
    <a class="klavika-font hover-opacity" href="{{ projects['rocm'] }}">ROCm&#8482; Software {{ version_name }}</a>
{%- endmacro -%}

{% macro version_list() -%}
    <a class="header-all-versions" href="https://rocm.docs.amd.com/en/latest/release/versions.html">Version List</a>
{%- endmacro -%}

{% if theme_repository_url.endswith("-docs") %}
    {% set repo_url = theme_repository_url|replace("-docs", "") %}
{% else %}
    {% set repo_url = theme_repository_url %}
{% endif %}

{%
set nav_secondary_items = {
    "GitHub": repo_url,
    "Community": "https://github.com/ROCm/ROCm/discussions",
    "Blogs": "https://rocm.blogs.amd.com/",
    "Infinity Hub": "https://www.amd.com/en/developer/resources/infinity-hub.html",
    "Support": repo_url + "/issues/new/choose"
}
%}
