[build-system]
requires = [
    "setuptools>=42",
    "wheel"
]
build-backend = "setuptools.build_meta"

[project]
name = 'rocm-docs-core'
version = "0.2.0"
description ='Core utilities for all ROCm documentation on RTD'
dependencies = [
  "GitPython>=3.1.30,<3.2",
  'importlib_resources>=5.10.2,<5.11;python_version<"3.9"',
  "PyGithub==1.58.1",
  "docutils==0.16",
  "sphinx==6.1.3",
  "breathe==4.34.0",
  "sphinx-design==0.3.0",
  "sphinx-copybutton==0.5.1",
  "sphinx_external_toc==0.3.1",
  "sphinx-book-theme==1.0.1",
  "myst_nb==0.17.1",
  "myst-parser[linkify]==1.0.0",
  "sphinx-notfound-page==0.8.3" 
]
requires-python = ">=3.8"

[project.optional-dependencies]
api_reference = [
  "doxysphinx>=3.2.1,<4"
]
