@import url("theme.css");

:root {
    --pst-font-size-base: 11px;
}

div#site-navigation {
    height: fit-content;
    min-height: calc(100vh - 190px);
}

div.content-container {
    overflow-y: clip;
}

.hovertext {
    position: relative;
    /* border-bottom: 1px dotted black; */
}

.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 0.5s ease-in-out;

    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
}

.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}
