{% macro top_level_header(branch, latest_version, release_candidate_version) -%}
    {% if docs_header_version %}
        {% set version_name = docs_header_version %}
    {% elif branch in ["develop", "master", "main", "amd-master", "amd-staging"] %}
        {% set version_name = "Future Release" %}
    {% elif branch == "latest" %}
        {% set version_name = latest_version["rocm"] %}
    {% else %}
        {% set version_name = branch %}
    {% endif %}
    <a class="klavika-font hover-opacity" href="{{ projects['instinct'] }}">GPU Systems and Infrastructure</a>
{%- endmacro -%}


{% set repo_url = repo_url|replace("http://", "https://") %}

{% macro version_list() -%}
    {% if theme_version_list_link %}
        <a class="header-all-versions hover-opacity" href="{{ theme_version_list_link }}">Version List</a>
    {% endif %}
{%- endmacro -%}

{%
set nav_secondary_items = {
    "Core SDK": "https://rocm.docs.amd.com",
    "AI Ecosystem": "https://rocm.docs.amd.com/projects/ai-ecosystem",
    "GPU Systems and Infrastructure": "https://instinct.docs.amd.com",
    "Toolkits": header_rocm_toolkits,
}
%}

{%
set nav_item_classes = {
    "AI Ecosystem": "fw-bold",
}
%}

{%
set nav_secondary_items_end = {
    "Blogs": "https://rocm.blogs.amd.com/",
    "Developer Hub": "https://www.amd.com/en/developer/resources/rocm-hub.html",
}
%}
