{% macro top_level_header(branch, latest_version, release_candidate_version) -%}
    {% if branch in ["develop", "master", "main", "amd-master", "amd-staging"] %}
        {% set version_name = "Future Release" %}
    {% elif branch == "latest" %}
        {% set version_name = latest_version %}
    {% else %}
        {% set version_name = branch %}
    {% endif %}
    <a class="klavika-font hover-opacity" href="{{ projects['instinct'] }}">Instinct&#8482; Documentation</a>
{%- endmacro -%}


{% set repo_url = repo_url|replace("http://", "https://") %}

{% macro version_list() -%}
    {% if theme_version_list_link %}
        <a class="header-all-versions" href="{{ theme_version_list_link }}">Version List</a>
    {% endif %}
{%- endmacro -%}

{%
set nav_secondary_items = theme_nav_secondary_items if theme_nav_secondary_items else {
    "GitHub": theme_repository_url if theme_repository_url else "#",
    "Community": "https://github.com/ROCm/ROCm/discussions",
    "Blogs": "https://rocm.blogs.amd.com/",
    "ROCm Developer Hub": "https://www.amd.com/en/developer/resources/rocm-hub.html",
    "ROCm&#8482; Docs": "https://rocm.docs.amd.com",
    "Support": (theme_repository_url + "/issues/new/choose") if theme_repository_url else "#"
}
%}
