:root {
    --pst-font-size-base: 0.625rem;
}

@media screen and (min-width: 440px) {
    :root {
        --pst-font-size-base: 0.75rem;
    }
}

@media screen and (min-width: 2000px) {
    :root {
        --pst-font-size-base: 1.25rem;
    }
}

div#site-navigation {
    height: fit-content;
    min-height: calc(100vh - 190px);
}

div.content-container {
    overflow-y: clip;
}

.hovertext {
    position: relative;
    /* border-bottom: 1px dotted black; */
}

.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 0.5s ease-in-out;

    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
}

.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}

div#rdc-watermark-container {
    pointer-events: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 10000;
}

img#rdc-watermark {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(-45deg);
    opacity: 10%;
    z-index: 10000;
    max-width: 100%;
    max-height: calc(100% - 200px);
    object-fit: contain;
    width: 45%;
}

ul.bd-breadcrumbs {
    margin-bottom: 0;
    margin-top: 1px;
}

.bd-sidebar-primary .sidebar-header-items {
    display: flex;
    flex-direction: column;
}

a#ot-sdk-btn {
    background:none !important;
    border:none !important;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,"Helvetica Neue",Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol !important;
    font-size: 12px !important;
    color:white !important;
    padding: 0 !important;
}
