name: Docs Linting

on:
  workflow_call:
  push:
    branches: [develop, main]
  pull_request:
    branches: [develop, main]

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  lint-md:
    name: "Markdown"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Fetch config
        shell: sh
        run: |
          test -f .markdownlint.yaml && echo "Using local config file" || curl --silent --show-error --fail --location https://raw.githubusercontent.com/ROCm/rocm-docs-core/develop/.markdownlint.yaml -O
      - name: Use markdownlint-cli2
        uses: DavidAnson/markdownlint-cli2-action@v14.0.0
        with:
          globs: "**/*.md"

  vale:
    name: "Vale"
    runs-on: ubuntu-latest
    env:
      HOME: /github/home

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Optionally fetch default Vale config and styles from your central docs repo
      # - name: Fetch Vale config and styles
      #   shell: sh
      #   run: |
      #     test -f .vale.ini && echo "Using local Vale config" || \
      #     curl --silent --show-error --fail --location \
      #     https://raw.githubusercontent.com/ROCm/rocm-docs-core/develop/.vale.ini -O

      #     if [ ! -d ".github/styles" ]; then
      #       mkdir -p .github/styles
      #       curl --silent --show-error --fail --location \
      #       https://raw.githubusercontent.com/ROCm/rocm-docs-core/develop/.github/styles/Vale/Headings.yml \
      #       -o .github/styles/Vale/Headings.yml
      #     fi

      # Install parser for RST
      - name: Install docutils
        run: sudo apt-get update && sudo apt-get install -y python3-docutils

      - name: Vale Lint
        uses: errata-ai/vale-action@v2.1.1
        with:
          version: 2.17.0
          # Lint both Markdown and RST files
          files: '["docs", "src"]'
          globs: "**/*.{md,rst}"
          reporter: github-pr-check
          fail_on_error: true
          vale_flags: "--config=.vale.ini"

  spelling:
    name: "Spelling"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Fetch config
        if: ${{ ! contains( github.repository, 'rocm-docs-core') }}
        shell: sh
        run: |
          curl --silent --show-error --fail --location https://raw.githubusercontent.com/ROCm/rocm-docs-core/develop/.github/workflows/yaml_merger.py -o .github/workflows/yaml_merger.py
          curl --silent --show-error --fail --location https://raw.githubusercontent.com/ROCm/rocm-docs-core/develop/.spellcheck.yaml -O
          curl --silent --show-error --fail --location https://raw.githubusercontent.com/ROCm/rocm-docs-core/develop/.wordlist.txt >> .wordlist.txt
      - name: Check local spelling file
        id: check_local_spelling
        run: |
          if [ -f .spellcheck.local.yaml ]; then
            echo "check_result=true" >> $GITHUB_OUTPUT
          else
            echo "check_result=false" >> $GITHUB_OUTPUT
          fi
      - name: Merge local and main YAML files
        if: steps.check_local_spelling.outputs.check_result == 'true'
        shell: sh
        run: |
          python3 .github/workflows/yaml_merger.py .spellcheck.yaml .spellcheck.local.yaml .spellcheck.yaml
      - name: Run spellcheck
        uses: rojopolis/spellcheck-github-actions@0.52.0
      - name: On fail
        if: failure()
        run: |
          echo "Please check for spelling mistakes or add them to '.wordlist.txt' in either the root of this project or in rocm-docs-core."
